@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  .container {
    width: 990px;
    padding: 0 15px;
    margin: 0 auto;
  }
  /* header */
  .header-top-line {
    padding-top: 17px;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #efefef;
  }

  .header-top-line a {
    color: #333333;
    text-decoration: none;
  }

  .tel-number {
    color: black;
    min-width: 111px;
    font-size: 14px;
  }

  .header-top-line a + a {
    margin-left: 30px;
  }

  .header-second-line {
    margin-top: 20px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .logo {
    flex: 1 1 auto;
  }

  .callback {
    color: #000000;
    min-width: 170px;
    height: 40px;
    margin-left: 40px;
    border-radius: 40px;
    border: 2px solid #4caf50;
  }

  /* nav */

  .nav-list {
    font-weight: 500;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  .nav-link {
    color: #000000;
  }

  /* block1 */
  .block1 {
    background-image: url(../img/png/Bgc.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 604px;
    margin-top: 30px;
    max-width: 100%;
  }

  .title {
    margin-top: 192px;
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .block1-info p {
    font-size: 14px;
    color: white;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .block1-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 308px;
  }
  .about {
    color: #ffffff;
    width: 170px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #ffffff;
  }

  /* block2 */

  .block2 {
    height: 1607px;
    background-color: #efefef;
  }

  .special-titlle {
    padding-top: 80px;
    padding-bottom: 38px;
    font-size: 24px;
    font-weight: 700;
  }

  .offers-row {
    margin-left: 182px;
    width: 630px;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 100px;
  }

  .offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 255px;
    height: 363px;
    background-color: #ffffff;
  }

  .offer-card-image {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 125px;
    height: 166px;
  }

  .buy {
    width: 130px;
    height: 35px;
    background-color: #66c05d;
    border-radius: 35px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .offer-card-dscr {
    text-align: center;
    max-width: 195px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .price {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .mail-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mail-card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
    margin-bottom: 40px;
  }

  .mail-title {
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-dsc {
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-input {
    width: 225px;
    height: 35px;
    background-color: white;
    color: #c4c4c4;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
  }

  .mail-svg {
    width: 140px;
    height: 110px;
    margin-top: 51px;
  }

  .map-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
  }

  .map-title {
    width: 250px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-dsc {
    width: 250px;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-list {
    width: 170px;
    height: 35px;
    border: 2px solid white;
    color: white;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  /* footer */

  /* footer */
  .footer__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    column-gap: 15px;
  }

  img {
    max-width: none;
  }

  .lower-footer {
    height: 64px;
    background-color: #efefef;
  }

  .teorr {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
  }

  .car-svg {
    width: 187px;
    height: 106px;
    margin-top: 53px;
  }

  .asd,
  .dsa {
    color: #828282;
    font-size: 12px;
  }

  .adress {
    width: 195px;
    font-size: 12px;
    color: #000000;
  }
}
