@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@media (min-width: 1200px) {
  body {
    font-family: "Roboto", sans-serif;
  }

  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .tel-number {
    text-decoration: none;
    color: #000000;
  }

  /* header */
  .header-top-line {
    display: flex;
    justify-content: center;
    background-color: #efefef;
    height: 50px;
  }

  .header-top-line a {
    margin-top: 17px;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
  }

  .header-top-line a + a {
    margin-left: 30px;
  }

  .header-second-line {
    margin-top: 20px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .logo {
    flex: 1 1 auto;
  }

  .callback {
    color: #000000;
    width: 170px;
    height: 40px;
    margin-left: 40px;
    border-radius: 40px;
    border: 2px solid #4caf50;
  }

  /* nav */

  .nav-list {
    font-weight: 500;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  .nav-link {
    color: #000000;
  }

  /* block1 */
  .block1 {
    background-image: url(../img/png/Bgc.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 604px;
    margin-top: 30px;
    max-width: 100%;
  }

  .title {
    margin-top: 192px;
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .block1-info p {
    font-size: 14px;
    color: white;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .block1-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 308px;
  }

  .about {
    color: #ffffff;
    width: 170px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #ffffff;
  }

  /* block2 */

  .block2 {
    height: 954px;
    background-color: #efefef;
  }

  .special-titlle {
    padding-top: 80px;
    padding-bottom: 38px;
    font-size: 24px;
    font-weight: 700;
  }

  .offers-row {
    display: flex;
    justify-content: space-between;
  }

  .offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 255px;
    height: 363px;
    background-color: #ffffff;
  }

  .offer-card-image {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 125px;
    height: 166px;
  }

  .buy {
    width: 130px;
    height: 35px;
    background-color: #66c05d;
    border-radius: 35px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .offer-card-dscr {
    text-align: center;
    max-width: 195px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .price {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .mail-map {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }

  .mail-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
  }

  .mail-title {
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-dsc {
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-input {
    width: 225px;
    height: 35px;
    background-color: white;
    color: #c4c4c4;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
  }

  .mail-svg {
    width: 140px;
    height: 110px;
    margin-top: 51px;
  }

  .map-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
  }

  .map-title {
    width: 250px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-dsc {
    width: 250px;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-list {
    width: 170px;
    height: 35px;
    border: 2px solid white;
    color: white;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  /* footer */
  .footer__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }

  .lower-footer {
    height: 64px;
    background-color: #efefef;
  }

  .teorr {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  .car-svg {
    width: 187px;
    height: 106px;
    margin-top: 53px;
  }

  .asd,
  .dsa {
    color: #828282;
    font-size: 12px;
  }

  .adress {
    margin-left: 205px;
    margin-right: 105px;
    font-size: 14px;
    color: #000000;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  .container {
    width: 990px;
    padding: 0 15px;
    margin: 0 auto;
  }
  /* header */
  .header-top-line {
    padding-top: 17px;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #efefef;
  }

  .header-top-line a {
    color: #333333;
    text-decoration: none;
  }

  .tel-number {
    color: black;
    min-width: 111px;
    font-size: 14px;
  }

  .header-top-line a + a {
    margin-left: 30px;
  }

  .header-second-line {
    margin-top: 20px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .logo {
    flex: 1 1 auto;
  }

  .callback {
    color: #000000;
    min-width: 170px;
    height: 40px;
    margin-left: 40px;
    border-radius: 40px;
    border: 2px solid #4caf50;
  }

  /* nav */

  .nav-list {
    font-weight: 500;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  .nav-link {
    color: #000000;
  }

  /* block1 */
  .block1 {
    background-image: url(../img/png/Bgc.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 604px;
    margin-top: 30px;
    max-width: 100%;
  }

  .title {
    margin-top: 192px;
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .block1-info p {
    font-size: 14px;
    color: white;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .block1-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 308px;
  }
  .about {
    color: #ffffff;
    width: 170px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #ffffff;
  }

  /* block2 */

  .block2 {
    height: 1607px;
    background-color: #efefef;
  }

  .special-titlle {
    padding-top: 80px;
    padding-bottom: 38px;
    font-size: 24px;
    font-weight: 700;
  }

  .offers-row {
    margin-left: 182px;
    width: 630px;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 100px;
  }

  .offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 255px;
    height: 363px;
    background-color: #ffffff;
  }

  .offer-card-image {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 125px;
    height: 166px;
  }

  .buy {
    width: 130px;
    height: 35px;
    background-color: #66c05d;
    border-radius: 35px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .offer-card-dscr {
    text-align: center;
    max-width: 195px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .price {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .mail-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mail-card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
    margin-bottom: 40px;
  }

  .mail-title {
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-dsc {
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-input {
    width: 225px;
    height: 35px;
    background-color: white;
    color: #c4c4c4;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
  }

  .mail-svg {
    width: 140px;
    height: 110px;
    margin-top: 51px;
  }

  .map-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
  }

  .map-title {
    width: 250px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-dsc {
    width: 250px;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-list {
    width: 170px;
    height: 35px;
    border: 2px solid white;
    color: white;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  /* footer */

  /* footer */
  .footer__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    column-gap: 15px;
  }

  img {
    max-width: none;
  }

  .lower-footer {
    height: 64px;
    background-color: #efefef;
  }

  .teorr {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
  }

  .car-svg {
    width: 187px;
    height: 106px;
    margin-top: 53px;
  }

  .asd,
  .dsa {
    color: #828282;
    font-size: 12px;
  }

  .adress {
    width: 195px;
    font-size: 12px;
    color: #000000;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-family: "Roboto", sans-serif;
  }

  .container {
    width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header-top-line {
    padding-top: 17px;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #efefef;
  }

  .tel-number {
    color: black;
  }

  .header-top-line a {
    color: #333333;
    text-decoration: none;
  }

  .header-top-line a + a {
    margin-left: 30px;
  }

  .header-second-line {
    margin-top: 20px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .logo {
    flex: 1 1 auto;
  }

  .callback {
    color: #000000;
    min-width: 150px;
    height: 40px;
    margin-left: 40px;
    border-radius: 40px;
    border: 2px solid #4caf50;
    font-size: 12px;
  }

  .nav-list {
    font-weight: 500;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-size: 14px;
  }

  .nav-link {
    color: #000000;
  }

  .block1 {
    background-image: url(../img/png/Bgc.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-top: 30px;
    min-width: 768px;
  }

  .title {
    margin-top: 92px;
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .block1-info p {
    font-size: 14px;
    color: white;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .block1-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 308px;
  }

  .about {
    color: #ffffff;
    width: 170px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #ffffff;
  }

  /* block2 */
  .block2 {
    height: 1607px;
    background-color: #efefef;
  }

  .special-titlle {
    padding-top: 80px;
    padding-bottom: 38px;
    font-size: 24px;
    font-weight: 700;
  }

  .offers-row {
    margin-left: 69px;
    width: 630px;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 100px;
  }

  .offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 255px;
    height: 363px;
    background-color: #ffffff;
  }

  .offer-card-image {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 125px;
    height: 166px;
  }

  .buy {
    width: 130px;
    height: 35px;
    background-color: #66c05d;
    border-radius: 35px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .offer-card-dscr {
    text-align: center;
    max-width: 195px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .price {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
  }

  .mail-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mail-card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
    margin-bottom: 40px;
  }

  .mail-title {
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-dsc {
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .mail-input {
    width: 225px;
    height: 35px;
    background-color: white;
    color: #c4c4c4;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
  }

  .mail-svg {
    width: 140px;
    height: 110px;
    margin-top: 51px;
  }

  .map-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 540px;
    height: 212px;
    background-color: #66c05d;
  }

  .map-title {
    width: 250px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-dsc {
    width: 250px;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-list {
    width: 170px;
    height: 35px;
    border: 2px solid white;
    color: white;
    left: 40px;
    border-radius: 35px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  /* footer */

  /* footer */
  .footer__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }

  .lower-footer {
    height: 64px;
    background-color: #efefef;
  }

  .teorr {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
  }

  .car-svg {
    width: 187px;
    height: 106px;
    margin-top: 53px;
  }

  .asd,
  .dsa {
    color: #828282;
    font-size: 10px;
  }

  .adress {
    width: 195px;
    font-size: 12px;
    color: #000000;
  }

  .tel-number {
    text-decoration: none;
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) and (max-width: 430px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  .header-top-line {
    display: none;
  }
  .tel-number {
    display: none;
  }

  .nav {
    display: none;
  }

  .callback {
    display: none;
  }
  .social-media{
    display: none;
  }

  .container {
    margin: 0px;
    width: 345px;
    margin: 0 auto;
  }

  .header-menu {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
    margin-bottom: 35px;
  }

  .header-logo {
    width: 184px;
    height: 60px;
  }

  .block1 {
    background-image: url(../img/png/salemobbile.png);
    background-repeat: no-repeat;
    max-width: 600px;
    width: 100%;
    height: 200px;
  }

  .block1-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title{
    margin-top: 40px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .title-description{
    width: 185px;
    font-size: 10px;
    color: white;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .about{
    width: 100px;
    height: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 10px;
  }

  .block2{
    height: 1390px;
    background-color: #efefef;

  }

  .special-titlle{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 80px;
  }

  .offers-row{
    max-width: 345px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    max-height: 723px;
  }

  .offer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 162px;
    height: 350px;
    background-color: #ffffff;
  }

  .offer-card-image{
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 110px;
  }

  .buy{
    width: 100px;
    height: 25px;
    background-color: #66c05d;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .offer-card-dscr {
    text-align: center;
    max-width: 145px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .price {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .mail-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mail-card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 345px;
    height: 212px;
    background-color: #66c05d;
    margin-bottom: 20px;
  }

  .mail-title {
    font-weight: 700;
    font-size: 12px;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .mail-dsc {
    font-size: 10px;
    color: white;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .mail-input {
    width: 130px;
    height: 25px;
    background-color: white;
    color: #c4c4c4;
    font-size: 10px;
    border-radius: 35px;
    margin-left: 25px;
  }

  .mail-svg {
    width: 100px;
    height: 80px;
    margin-top: 65px;
  }

  .map-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 345px;
    height: 212px;
    background-color: #66c05d;
  }

  .map-title {
    font-weight: 700;
    font-size: 12px;
    color: white;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .map-dsc {
    font-size: 14px;
    max-width: 156px;
    color: white;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .map-list {
    width: 130px;
    height: 25px;
    border: 2px solid white;
    color: white;
    left: 40px;
    border-radius: 25px;
    margin-left: 25px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
  }

  .car-svg{
    width: 120px;
    height: 80px;
    margin-top: 70px;
  }
  
  .footer__line{
    height: 70px;
    display: flex;
    flex-direction: column;
  }

  .adress{
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
    color: #000000;
  }

  .lower-footer{
    height: 65px;
    background-color: #efefef;
  }

  .teorr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }

  .asd,
  .dsa {
    color: #828282;
    font-size: 7px;
  }



}
